/* CSS for Contacts page should lives there */
@import url(header.css);
@import url(footer.css);

.content{
	padding-top: 100px;
	padding-bottom: 100px;
}

 *{
	transition: 0.2s;
}

.content h2{
	margin-bottom: 25px;
}

.content input, .content textarea, .content select{
	outline: none;
	resize: none;
	overflow: scroll;
	width: 100%;
	margin-bottom: 20px;
	background-color: white;
	border-radius: 2px;
	border: 1px solid #DFE6EB;
	color: grey;
	box-shadow: none;
	height: 54px;
	padding-left: 40px;
}

select.formSelector{
	-webkit-appearance: none;
  -webkit-border-radius: 2px;
}

.content textarea{
	height: 214px;
	padding: 16px 10px 16px 40px;

}
.content input:focus, .content textarea:focus, .content select:focus{
	box-shadow: 0 0 2px 2px grey;
}

.btn-success{
	border-radius: 2px;
	background-color: #67b930;
	border: none;
	padding: 13px 28px;
	text-transform: uppercase;
	font-size: 0.7em;
	font-weight: 600;
	letter-spacing: 1px;
	margin-top: 10px;
}

.content .fa-user,.content .fa-mobile-alt,.content .fa-envelope,.content .fa-cog,.content .fa-comments{
	position: absolute;
	z-index: 1;
	left: 30px;
	padding-top: 19px;
}

.content .fa-angle-down{
	padding-top: 19px;
	position: absolute;
	right: 30px;	
}

.container iframe{
	height: 510px;
	width: 100%;
}

.mailRow{
	background-image: url(../img/grey_bg.png);
	min-height: 571px;
	color: white;
	font-weight: 500;
}

.mailRow h1{
	font-size: 4em;
}

.mailRow p{
	margin-bottom: 0;
	text-transform: uppercase;
}

.mailRow a{
	color: white;
	text-decoration: none;
}

.mailRow a:hover{
	color: black;
}

.contactInfo{
	padding-top: 100px;
	padding-bottom: 100px;
}

.contactInfo h2{
	font-weight: 500;
}

.contactInfo p{
	color: #5c666a;
	line-height: 2;
}

.contactInfo span{
	font-weight: 500;
	padding-left: 20px;
	line-height: 2;
}

.contactInfo a{
	color: black;
	text-decoration: none;
}

.contactInfo a:hover{
	color: #e9563d;
}

.contactInfo i{
	color: #e9563d;
}

.contactInfo .social img{
	max-width: 40px;
	margin-top: 35px;
	border-radius: 20px;
	margin-right: 10px;
}

.contactInfo .social img:active{
	border-top: 2px solid #7BB748;
	border-left: 2px solid #7BB748;
}

.contactInfo .social img:hover{
	border-radius: 3px;
}

@media (max-width: 992px){
	.content .btn-success{
		width: 100%;
		margin-bottom: 100px;
	}
}

@media (min-width: 768px) and (max-width: 992px){
	.middleBlock{
		margin-bottom: 50px;
	}
	
}

@media (max-width: 768px){
	.middleBlock{
		margin: 50px auto;
	}

}