footer{
	background-color: #0C0F12;
	font-family: "Popins", sans-serif;
	line-height: 2.5;
	padding-bottom: 50px;
}

footer *{
	transition: 0.1s;
}

.fa-map-marker-alt{
	color: white;
}

.fa-envelope{
	color: #7BB748;
	position: absolute;
	top: 195px;
	left: 30px;
}

input[type="email"]{
	/*font-family: FontAwesome;*/
	margin: 0;
	background-color: #252627;
	border: none;
	color: white;
	outline: none;
}

button{
	background-color: #7BB748;
	border: none;
	margin: 0;
	font-weight: 600;
	color: white;
}

footer ul li{
	list-style-type: none;
}

footer ul{
	padding-left: 0;
}

footer h3{
	color: white;
	font-weight: 500;
	font-size: 1.3em;
	margin-bottom: 1.5em;
	margin-top: 80px;
}

footer span{
	color: white;
}

footer p, footer li, footer a, footer label{
	color: #575A5D;
}

.locationImg{
	margin-right: 15px;
}

.footerInfo{
	padding-bottom: 80px;
}

.social img{
	max-width: 40px;
	margin-top: 35px;
}

footer hr{
	height: 0.5px;
	background-color: #575A5D;
	margin-bottom: 25px;
	margin-top: 0px;
}

footer a:hover{
	color: #7BB748;
	text-decoration: none;
	border-bottom: 1px solid #7BB748;
}